body {
    font: 12px Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

#dropZone {
    height: 800px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
}

#init-container {
    width: 100%;
    height: 100%;
}

#init-message {
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.hidden {
    display: none;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
