body {
    padding-top: 10px;
    padding-bottom: 10px;
}

#dropZone {
    height: 800px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    font-size: 16px;
    overflow: auto;
    white-space: pre-wrap;
    padding: 20px 10px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    border-color: #ff0000;
}
