@{
    ViewBag.Title = "Home Page";
}

<h3 style="text-align: center">Перетащите сюда xml файл<h3>
<div id="dropZone" class="col-md-offset-2 col-md-8">
</div>

@section scripts {
    <script src="~/Scripts/dropzone.js"></script>
}